
body {background-color: #fff9e6;}
a { color: inherit; } 
h3 {
  font-weight: 550;
  font-size:40px;
font-family: 'Allerta'}
p {
  font-family: 'Allerta';
  font-weight: 550;
}
footer {
  font-family: 'Allerta'}
h1,
.navbar-brand,
.navbar-nav a {
  font-family: 'Merriweather', serif;
  font-weight: 550;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #fff9e6;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: 'Allerta'
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Allerta'
}

/* Style the submit button */
input[type=submit] {
  background-color: #ffb3b3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  font-family: 'Allerta'
}

/* Style the container */
.container {
  border-radius: 15px;
  background-color: #ffe6e6;
  padding: 40px;
  font-family: 'Allerta'
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

}